body{
    margin:0 auto;


}


/*Start Nav Styles*/

.main-nav{
    height:80px;
    padding:5px 30px 0px 30px;
    text-decoration:none;
    z-index: 1;
}

.nav-list{
    float:right;
    list-style: none;
    font-size:20px;
    font-family: 'Oxygen', sans-serif;
}

.nav-item{
  float:left;
  margin-left:15px;
}

.nav-link{
  text-decoration:none;
    color:#404E59;
  padding: 10px 20px 48px 10px;
    
}

.logo{
    height:40px;
    float:left;
    padding:20px 0px 0px 15px;
}

/*End Nav Styles*/

/* Hero Section */

.hero-section:after{
      content:"";
    display:block;
    clear:both;
}

.hero-section{
    padding:1%;
    
}


.hero-background{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url("../img/iplace_hero.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-1;
}


.column{
    float:left;
    text-align: center;
}

.right{
  margin-top:1%;
  padding-left: 2%;
  padding-bottom:2%;
}
.left{
    margin-top: 2%;
    width: 55%;
    margin-left: 5%;
}

.logo-large{
    margin: 0 auto;
    width:78%;
}

.iphone-hero{
  height: 80%;
}

h1{
    font-family: 'Oxygen', sans-serif;
    margin-top: 25px; 
    font-size: 85px;
    color:white;
    text-shadow: 1px 1px 10px #010032;
    line-height: 90px;
    margin:0 auto;
}

.itunes-button{
    width: 35%;
    margin: 10px;
}


/* End Hero Section */

/* Start Features Section */

.features:after{
      content:"";
    display:block;
    clear:both;
}

.features{
    background-color: rgb(236, 240, 241);
    height:900px;
}
.app-column{
    width:56%;
    height:900px;
    position: relative;
    background-color:rgb(52, 152, 219);
}

.app-preview{
     width: 85%;
    margin-top:8.5%;
}


.reviews{
    width:40%;
    position: relative;
    padding: 3% 2%;
}

.headline{
    margin:0;
    font-family: 'Oxygen', sans-serif;
    font-size: 50px;
    color: rgb(44, 62, 80);
    text-align: center;
}



.quote-header-small{
    font-size:40px;
    font-weight: bold;
    line-height: 45px;
}

.quote-header-big{
    font-size:60px;
    font-weight: bold;
    line-height: 65px;
}


.circle-container{
    width: 420;
    height: 420;
    background-color: rgb(52, 152, 219);
    border-radius: 400px;
    position: absolute;
    top: 91px;
    left:-12px;
}


.text-container-large{
    width: 380px;
    text-align: center;
    padding-top: 29%;
    padding-left: 4%;
    
}

.small-container{
    width: 250px;
    height: 250;
    position: absolute;
    top: 150px;
    right: 12%;
    z-index: 3;
}

.text-container-small{
    padding-top: 9%;
    z-index: 2;
}

.small-circle{
     width: 250px;
    height: 250px;
    background-color: rgb(243, 156, 18);
    border-radius: 150px;
    position: absolute;
    top: 150px;
    right: 12%;
    opacity: .8;
    z-index: 0;
    
}


.quote2-container{
    position:absolute;
    bottom:3%;
    left:20%;
}


.quote2{
     font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    color:white;
    text-shadow: 1px 1px 2px #010032;
}


.quote1{
    z-index:2;
     font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    color:white;
    text-shadow: 1px 1px 2px #010032;
}


h2{
    margin:0 auto;
}
/* End Features Section */


/* Start Footer Section */

.footer:after{
      content:"";
    display:block;
    clear:both;
}

.footer{
    background-color:rgb(44, 62, 80);
    height:100px;
    padding:1%;
}

.footer-column{
    float:left;
}

.footer-left{
    width:46.5%;
    text-align:right;
}

.footer-right{
    width:46.5%;
    text-align:left;
    position: relative;
}

.footer-middle{
    width: 7%;
    text-align: center;
}

.thot-logo{
    height: 55px;
    padding: 8% 1% 0 1%;
}

.copyright{
    position: absolute;
    bottom:20px;
    right:10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 10px;
    color:#697d8c;
}

.footer-text{
     font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    color:#697d8c;
    letter-spacing: 1px;
}



/* End Footer Section */